

.vitrine_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.vitrine {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid black; */
    margin: 20px 0px;
    width: auto;
    height: auto;
}
#quantidade_produtos{
    display: flex;
    align-self: self-start;
    margin-left: 20px
}

.lista_produtos{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 50px;
    padding: 0px;
}

.lista_produtos > li{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img_produto{
    width: 250px;
}

.img_produto_variavel{
    max-width: 50px;
    margin-right: 5px;
}

.lista_variavel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.preco_puro{
    font-size: 12px;
    text-decoration: line-through;
    color: grey;
}

.produto_nome{
    margin: 15px 0px;
}

.preco_desconto, .preco_normal{
    font-size: 20px;
    margin-bottom: 15px;
}

.btn_comprar{
    padding: 15px;
    border: 1px solid black;
    background-color: transparent;
    cursor: pointer;
}

.btn_comprar:hover{
    transition: 0.3s ease-in-out;
    background-color: rgb(151, 99, 199);
}