.vitrine_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.vitrine {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid black; */
    margin: 20px 0px;
    width: auto;
    height: auto;
}

#quantidade_produtos{
    display: flex;
    align-self: self-start;
    margin-left: 20px
}

.lista_produtos{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0px;
}

.lista_produtos > li, .lista_produtos2 > li{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.lista_produtos2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.img_produto{
    width: 100px;
}

.img_produto_variavel{
    max-width: 30px;
    margin-right: 5px;
    cursor: pointer;
}

.lista_variavel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.preco_puro{
    font-size: 12px;
    text-decoration: line-through;
    color: grey;
}

.produto_nome{
    display: flex;
    font-size: 15px;
    align-self: center;
    justify-self: center;
    margin: 15px 0px;
}

.preco_desconto, .preco_normal{
    font-size: 15px;
    margin-bottom: 15px;
}

.btn_comprar{
    padding: 15px;
    border: 1px solid black;
    background-color: transparent;
    cursor: pointer;
}

.btn_comprar:hover{
    transition: 0.3s ease-in-out;
    background-color: rgb(151, 99, 199);
}
.top_vitrine{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.top_vitrine > button{
    background-color: black;
    color: white;
    font-weight: 600;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}